@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/notonaskharabic.css");

* {
  font-family: "Roboto", system, sans-serif;
}

body {
  margin: 0;
}

/* Navbar */
#nav-bar {
  width: 100%;
}

#nav-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 16px 0;
  padding: 16px 0 16px 0;
  background-color: #FFFF;
  box-shadow: 0 0 1px rgb(0 0 0 / 0.1);
  /* FIXED HEADER */
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  width: 35px;
}


#search-input {
  border: 1px solid#FFF;
  background-color: #F8F9F9;
  color: #979595;
  border-radius: 4px;
  width: 100%;
  height: 20px;
  padding: 10px;
}

#search-input::-webkit-input-placeholder {
  font-size: 14px;
}

#search-button {
  background-color: black;
  width: 45px;
  height: 40px;
  border: none;
  border-radius: 8px;
}

#search-icon {
  width: 25px;
  height: 25px;
}


.featured-products {
  background-color: #F8F9F9;
  width: 90%;
  height: 40%;
  margin: auto;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  /* FIXED HEADER - FURTHER CODE*/
  margin-top: 100px;
}


.contact-us {
  width: 90%;
  margin: auto;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* FIXED HEADER - FURTHER CODE*/
  margin-top: 70px;
}

.contact-information-heading {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.c-heading {
  font-size: 16px;
  font-weight: bold;
}

.featured-product-image {
  width: 95%;
  padding: 0 0 0 10px;
}

.category-page-banner {
  margin-top: 75px;
  background-color: #F8F9F9;
  list-style: none;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  /* box-shadow: 1px 0 0 1px rgb(0 0 0 / 0.1); */
}

#filter-slider {
  display: flex;
  justify-content: space-between;
  margin: 10px 16px;
}

.category {
  width: 60px;
  height: 32px;
  border-radius: 12px;
  font-size: 10px;
  background-color: white;
  border: 1px solid #d9d9d9;
  color: #afadad;
}

.filter-category {
  width: 60px;
  height: 32px;
  border-radius: 12px;
  font-size: 10px;
  border: none;
  background-color: black;
  color: white;
}


#main {
  margin: 0 15px;
}

/* Products Grid */
#products-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 18px;
  margin: 15px 0 75px 0;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #F8F9F9;
  border-radius: 16px;
  width: 100%; /* Subtracting padding of 4px */
  height: 200px;
}

.product-image {
  width: 90%;
  height: auto;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.price {
  color: black;
  text-decoration: line-through;
}

.discounted-price {
  color: #F29D38;
}

.product-tag {
  font-size: 12px;
  margin: 0;
  color: #979595;
}

.product-price {
  font-weight: bolder;
}

#footer-menu {
  background: #FFF;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 10%);
  border-radius: 16px 16px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 58px;
  width: 100%;
  margin: auto;
  text-align: center;
}

#footer-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  margin: 12px 0 8px 0;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item-icon {
  width: 25px;
  height: 25px;
}

.footer-item-name {
  font-size: 10px;
  margin: 0;
}