@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/notonaskharabic.css");

* {
  font-family: "Roboto", system, sans-serif;
}

/* Navbar */

#nav-bar {
  width: 100%;
}

#nav-items {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 15px 23px 8px 77px;
}

.nav-item {
  margin: 0 10px;
}

#greeting {
  margin: 2px 0;
  font-family: 'Noto Naskh Arabic', serif;
  font-size: 16px;
  direction: rtl;
  font-weight: bolder;
}

#logo {
  width: 35px;
}

/* Search  */
#search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px 20px 15px 20px;
}

#search-input {
  border: 1px solid#D9D9D9;
  border-radius: 4px;
  width: 70%;
  height: 20px;
  box-shadow: 0 0.5px rgb(0 0 0, 0.2);
  padding: 10px;
}

#search-input::-webkit-input-placeholder {
  font-size: 14px;
}

#search-button {
  background-color: black;
  width: 45px;
  height: 40px;
  border: none;
  border-radius: 8px;
}

#search-icon {
  width: 25px;
  height: 25px;
}

#filter-slider {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.category {
  width: 60px;
  height: 32px;
  border-radius: 12px;
  font-size: 10px;
  background-color: white;
  border: 1px solid #d9d9d9;
  color: #afadad;
}

.filter-category {
  width: 60px;
  height: 32px;
  border-radius: 12px;
  font-size: 10px;
  border: none;
  background-color: black;
  color: white;
}

/* Products Grid */
#products-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 18px;
  margin: 15px 18px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.product-card {
  width: 138px; /* Subtracting padding of 4px */
  height: 184px;
  background-color: #d3d3d3;
  border-radius: 16px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-info {
  margin: 20px;
}

.product-name,
.product-price {
  font-size: 10px;
  margin: 0;
}

.product-price {
  font-weight: bolder;
}

#footer-menu {
  background-color: white;
  border-top: 1px solid #afadad;
  border-radius: 16px 16px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 58px;
  width: 100%;
  margin: auto;
  text-align: center;
}

#footer-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  margin: 12px 0 8px 0;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item-icon {
  width: 25px;
  height: 25px;
}

.footer-item-name {
  font-size: 10px;
  margin: 0;
}
